.jar
.class
.DS_Store
.log
.project
.settings
.classpath
*.csv
*.pdf
*.log
*.log.*
.idea
*.iml
.metadata
.mule
target
bapi-nurvis/bapi-nurvis-service/bin
**/apps/*.zip
**/bin/*
bapi-nurvis/bapi-nurvis-adaptor/bin
**/test-output
bapi-tosca/bapi-tosca-service/
*/.externalToolBuilders/*
bapi-configurations/database/db_script.sql
bapi-configurations/BAPI-MockServer-soapui-project.xml
/bapi-tosca/nb-configuration.xml
/bapi-configurations/nb-configuration.xml
/nbactions.xml
rebel-remote.xml
rebel.xml
/classes/
/test-logs/